
.App {
  margin-top: 10px;
}

.bar {
  fill: #ec1e00;
}

.bar:hover {
  fill: #960f00;
}

.bar-won {
  fill: #7AC36A;
}

.bar-won:hover {
  fill: #1a7306;
}

.bar-lost {
  fill: #8100d6;
}

.bar-lost:hover {
    fill: #2610fb;
  }

#batChart{
	width: 960px !important;
	/*height: 550px !important;*/
}

#bowChart{
	width: 960px !important;
	/*height: 550px !important;*/
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.stats{
	font-size: 1.2em;
	margin-top: 1%;
}

.stat-value{
	font-weight: bold;
}

.header{
	box-shadow: 0 1px 2px;
	margin-top: 0 !important;
	background-color: #efefef;
	height: 80px;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 90px;	
    color: #fff;				
    padding: 2px;				
    background: rgba(0,0,0,0.9);
}

 label{
 	font-size: 1.2em;
 	padding: 1%;
 }

.label-graph .won{
	background-color: #7AC36A;
	height: 25px;
}

.label-graph .lost{
	background-color: #8100d6;
	height: 25px;
}

.label-graph .no-result{
	background-color: #ec1e00;
	height: 25px;
}

.label-graph{
	margin-top: 1%;
}

ul{
	list-style-type: none;
}

li{
	display: inline-block;
	margin-left: 10%;
}

